/* 左边列表 */
#sidebar .pitems {
    width: 200px;
    height: 636px;
}
#sidebar .pitem {
    border-bottom: 1px solid #E6E7EB;
    padding: 16px 0;
}
#sidebar .pitems .pitemso{
    border-right: 1px solid #DCDEE3;
}

#sidebar .items-wrap .plab {
    line-height: 30px;
    padding-left: 24px;
    margin-bottom: 4px;
    color: #9b9b9b;
}
#sidebar .item a {
    display: block;
    line-height: 30px;
    padding-left: 24px;
    color: #333;
    font-size: 14px;
}