<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <!-- 公共样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/base.css">
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/reset.css">
    <!-- H-ui 插件 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.css">
    <!-- 字体图标 -->
    <link rel="stylesheet" href="../../assets/font/font-al.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="./denglu.css"/>
</head>
<body>
    <div id="logon">
        <div class="relative ocms-component-member-login-1-0-17 cl">
            <div class="gezi cl">
                <div class="page2 f-r">
                    <div class="no-longlogin">
                        <div class="login-title">账号登录</div>
                        <!-- <div class="login-title J_Message">
                            <i class="iconfont cuo">&#xe600;</i>
                            请输入密码
                        </div> -->
                        <!-- 账号 -->
                        <div class="username-field">
                            <span class="TPL_username_1"> <i class="iconfont">&#xe614;</i> </span>
                            <input type="text" class="login-text account" placeholder="会员名/邮箱/手机号" data-type="text">
                        </div>
                        <!-- 密码 -->
                        <div class="username-field">
                            <span class="TPL_username_1"> <i class="iconfont">&#xeb8f;</i> </span>
                            <input type="password" class="login-text password">
                        </div>
                        <!-- 登录 -->
                        <button type="submit" class="J_Submit" tabindex="3" data-ing="正在登录...">
                            登 录
                        </button>
                        <!-- 忘记密码 -->
                        <div class="login-links">
                            <!-- <a href="">忘记密码</a>
                            <a href="">忘记会员名</a> -->
                            <a href="../zhuce/zhuce.html">免费注册</a>
                        </div>
                    </div>
                </div>
                <h1 class="b2b absolute">迅销B2B 货销全球</h1>
            </div>

        </div>
    </div>
</body>
<!-- 外链jquery -->
<script src="../../assets/js/jquery.js"></script>

<!-- 公用方法 -->
<script src="../../assets/js/cookie.js"></script>

<!-- 外链js -->
<script src="./denglu.js"></script>
</html>