.page-article {
    width: 1200px;
    padding: 20px;
    margin: 0 auto;
}
.member-tabs {
    border-bottom: 1px solid #fff;
    text-align: center;
    margin-bottom: 20px;
}
.single {
    height: 40px;
    width: 140px;
    line-height: 40px;
    display: inline-block;
    border-bottom: 2px solid red;
}
.single strong{
    color: #333;
    font-weight: bold;
    display: inline-block;
    width: 60px;
    height: 40px;
    font-size: 14px;
}
.order-detail-table {
    border: 1px solid #E2E2E2;
    height: 82px;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px;

}
.n-ding-box {
    border-bottom: 1px solid #E2E2E2;
    height: 40px;
}
.n-ding-box li{
    font-weight: bold;
    font-size: 14px;

}
.n-bx {
    padding: 10px;
    text-align: center;
    color: #666;
}
.n-ding {
    width: 345px;
}
.n-jin {
    width: 225px;
}
.n-zhuang {
    width: 217px;
}
.n-cao {
    width: 196px;
}
.order-section {
    border: 1px solid #E2E2E2;
    margin-bottom: 20px;
    color: #666;
}
.order-section-title {
    padding: 10px;
    border-bottom: 1px solid #E2E2E2;
    font-size: 14px;
}
.order-section-content, .order-section-content-2, .order-section-content-3 li{
    text-align: center;
    padding: 15px 5px;
    line-height: 25px;
}
.order-section-content li:nth-child(1) {
    width: 110px;
}
.order-section-content li:nth-child(2) {
    width: 190px;
}
.order-section-content li:nth-child(3) {
    width: 190px;
}
.order-section-content li:nth-child(4) {
    width: 325px;
}
.order-section-content-2 {
    background-color: #efefef;
    height: 60px;
}
.order-section-content-2 li {
    font-size: 14px;
}
.order-section-content-2 li:nth-child(1) {
    width: 390px;
}
.order-section-content-2 li:nth-child(2) {
    width: 240px;
}
.order-section-content-2 li:nth-child(3) {
    width: 230px;
}
.order-section-content-2 li:nth-child(4) {
    width: 230px;
}
.order-section-content-3 {
    border-bottom: 1px solid #eee;
}
.order-section-content-3 li:nth-child(1) {
    width: 400px;
}
.order-section-content-3 li:nth-child(2) {
    width: 200px;
}
.order-section-content-3 li:nth-child(3) {
    width: 250px;
}
.order-section-content-3 li:nth-child(4) {
    width: 200px;
    color: #ED5831;
}
.order_price {
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    padding: 5px;
}
.goods {
    width: 300px;
    height: 40px;
    line-height: 40px;
}
em {
    font-style: normal;
}
.n-label {
    display: inline-block;
    width: 170px;
}
.n-label em {
    color: #666;
    font-size: 14px;
}
.price {
    font-size: 14px;
    text-align: right;

}
.price em {
    color: #ED5831;
}
.n-label-z em{
    display: inline-block;
    width: 170px;
    font-weight: bold;
    font-size: 14px;
}
.price-z em {
    font: 24px/1.5 Verdana,Geneva,Arial,Helvetica,sans-serif;
    color: #ED5831;
    text-align: right;
}