<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>订单详情页</title>
    <!-- 公共样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/base.css">
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/reset.css">
    <!-- H-ui 插件 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.css" />
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="./orderDetails.css" />
  </head>
  <body>
    <script src="../../public/hade/hade.js"></script>
    <!-- 订单详情页 -->
    <div id="orderdetails">
      <div class="page-article">
        <!-- 我的订单 -->
        <div class="member-tabs">
          <a href="" class="single">
            <strong>订单详情</strong>
          </a>
        </div>
        <!-- 订单号 -->
        <div class="order-detail-table">
            <ul class="n-ding-box cl">
                <li class="n-ding n-bx f-l">订单号</li>
                <li class="n-jin n-bx f-l">订单金额</li>
                <li class="n-zhuang n-bx f-l">订单状态</li>
                <li class="n-cao n-bx f-l">操作</li>
            </ul>
            <ul class="cl tid-z">
                <li class="n-ding n-bx f-l">190515646464354381</li>
                <li class="n-jin n-bx f-l">￥1,507,99</li>
                <li class="n-zhuang n-bx f-l">已取消</li>
                <li class="n-cao n-bx f-l">-</li>
            </ul>
        </div>
        <!-- 收货人信息 -->
        <div class="order-section">
            <div class="order-section-title">
                <b>收货信息</b>
            </div>
            <ul class="order-section-content cl">
                <li class="f-l">张三</li>
                <li class="f-l">4106031996011000147</li>
                <li class="f-l">13073710147</li>
                <li class="f-l">
                    <span>上海市</span>
                    <span>普陀区</span>
                    <span>大马路</span>
                </li>
                <li class="f-l">153123</li>
            </ul>
        </div>

        <div class="order-section">
            <div class="order-section-title">
                <b>商品清单和结算信息</b>
            </div>
            <ul class="order-section-content-2 cl">
                <li class="f-l">商品</li>
                <li class="f-l">销售价</li>
                <li class="f-l">数量</li>
                <li class="f-l">小计</li>
            </ul>
            <ul class="ent-3">
                <li>
                    <ul class="order-section-content-3 cl">
                        <li class="f-l">WMF 福腾宝 Touch 不锈钢厨房用刀/水果刀两件套</li>
                        <li class="f-l">￥89.00</li>
                        <li class="f-l">1</li>
                        <li class="f-l">￥89.00</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="order_price cl">
          <div class="f-r inner">
            <div class="goods">
                <span class="n-label">
                  <em>商品金额 :</em>
                </span>
                <span class="price">
                  <em>￥1,507,99</em>
                </span>
            </div>
            <div class="goods">
                <span class="n-label-z">
                  <em>总金额 :</em>
                </span>
                <span class="price-z">
                  <em>￥1,507,99</em>
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- jquery 插件 -->
  <script src="../../assets/js/jquery.js"></script>
  <!-- cookie -->
  <script src="../../assets/js/cookie.js"></script>
  <!-- 外链 js -->
  <script src="./orderDetails.js"></script>
</html>
