/* 三级导航开始 */
#particulars .rw-lst-header-nav {
    border-bottom: 1px solid #DCDEE3;
    height: 40px;
}
#particulars .rw-lst-header-nav-header {
    width: 240px;
    height: 40px;
    background: red;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
}
#particulars .rw-lst-header-nav-header-text {
    font-size: 18px;
    line-height: 40px;
    color: #fff;
}
#particulars .rw-lst-header-nav-fixed-header {
    height: 409px;
    width: 240px;
    background: red;
    margin-top: 1px;
    z-index: 999;
    display: none;
}
#particulars .rw-lst-header-nav-first {
    padding: 5px 0px 5px 10px;
}
#particulars .first-item {
    width: 210px;
    height: 40px;
    padding-left: 20px;
    line-height: 40px;
    color: #fff;
}
#particulars .first-item:hover {
    border-radius: 20px 0px 0px 20px;
    background-color: #F54300;
    cursor: pointer;
}
#particulars .rw-lst-header-nav-second {
    width: 430px;
    height: 410px;
    left: 240px;
    background: #fff;
    top: 0;
    display: none;
}
#particulars .second-category-item {
    width: 205px;
    height: 43px;
    border-bottom: 1px dashed #EBEBEB;
    margin-left: 5px;
}
/* 导航结束 */

.a-base-info-warp {
    padding: 30px 0 10px 0;
}
.header-search-brand-link {
    height: 40px !important;
}

.unit-price {
    color: #ED5831 !important;
    border: 1px solid #ED5831;
    padding: 0 3px;
    font-size: 10px;
    margin-right: 5px;
}

/*图片放大板块开始*/
.imgwarp {
    width: 540px;
}
.c-offerlist {
    padding-left: 400px;
}
.tuwu {
    width: 284px !important;
    height: 236px !important;
}
.imgdet{
    height: 522px;
    width: 1200px;
    background: #fff;
}

.imgdet .imgpart{
    width: 500px;
    height: 520px;
}
.imgdet .imgpart .pic{
    width: 100%;
    height: 100%;
    border: 1px solid #f3f3f3;
}
.imgdet .imgpart .pic .magnify{
    display: none;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    cursor: move;
    background-color: #fff;
    opacity: .3;
    filter:alpha(opacity=30);
}
.imgdet .imgpart .pic img{
    width: 100%;
    height: 100%;
}
.imgdet .imgpart .bigpic{
    display: none;
    top: 0;
    right: -515px;
    width: 500px;
    height: 520px;
    z-index: 333;
    overflow: hidden;
    border: 1px solid #f3f3f3;
}
.imgdet .imgpart .bigpic>img{
    top: 0;
    left: 0;
    width: 920px;
    height: 920px;
}
/* 右侧 信息 */
.o-rwd-col-extra {
    height: 550px;
    width: 650px;
}
.o-base-info-detail-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}
.base-info {
    height: 60px;
    padding: 12px 20px;
    background-color: #F5F5F5;
}
.price-container {
    height: 48px;
}
.font-grey {
    width: 100px;
}
.font-normal {
    font-size: 18px;
    color: #df2211;
}
.font-big {
    font-size: 24px;
    color: #df2211;
}
.price-container-title {
    width: 100px;
}
.p-base-info-edlp .moq {
    height: 20px;
    background-color: #df2211;
    padding: 12px 20px;
}

.o-tag-default {
    padding: 0px 5px;
    background: rgb(248, 231, 28);
    color: rgb(223, 34, 17);
    border-radius: 8px;
    border-color: rgb(248, 231, 28);   
}
.font-little {
    color: #fff;
}
.price-endtime {
    color: #fff;
}
.p-base-info-detail-floor-warp {
    border-bottom: 1px solid #DCDEE3;
}
.p-base-info-detail-attr-warp {
    margin: 20px 0;
    padding-left: 20px;
}
.p-detail-sellunit-grid {
    padding: 10px 0 10px 20px;
    height: 106px;

}
.o-rwd-col-sub-wrap {
    width: 92px;
}
.o-rwd-col-main-wrap {
    width: 500px;
}
.next-tag-body {
    border: 1px solid #D23900;
    padding: 6px 13px;
    color: #D23900;
    border-radius: 3px;
    margin: 3px 10px;
}
.next-tag-body:hover {
    background: #D23900;
    color: #fff;
}
.skus {
    padding: 0 0 10px 20px;
    border-bottom: 1px solid #DCDEE3;
}
.stock {
    margin-left: 180px;
}
.next-number-picker-input-wrap {
    width: 40px;
    border: none;
    border: 1px solid #C4C6CF;
    line-height: 24px;
    height: 26px;
    margin: 0 2px;
}
.p-next-number {
    border: 1px solid #C4C6CF;
    width: 30px;
    height: 26px;
    background-color: #F2F3F7;
}
.amount {
    margin-bottom: 3px;
}
.o-add-cart-footer .footer-wrap {
    margin: 16px 0 16px 20px;
}
.money {
    margin-left: 20px;
    color: red;
    font-size: 16px;
}
.total em {
    color: red;
}
.money em{
    font-size: 20px;
}
.next-btn-large {
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 38px;
    border-width: 1px;
    border-radius: 3px;
    color: #fff;
    background-color: #CA1300;
}
.o-add-cart-footer {
    border-bottom: 1px solid #C4C6CF;
}
/* 商品详情 */
.next-tabs-bar {
    height: 58px;
    border: 1px solid #DCDEE3;
}
.next-tabs-tab-inner {
    width: 150px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 18px;
    color: red;
}
.next-tabs-content {
    padding: 20px 20px 20px 40px;   
    border: 1px solid #DCDEE3;
    color: #333;
    background: 0 0;
    border-top: none;
}
.next-tabs-content img {
    width: 1120px;
    height: 600px;
    margin: 0 auto;

}
.p-props-info-tab-text {
    width: 546px;
    font-size: 16px;
}
.p-main-wrap {
    background: red;
    color: #fff
}