<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情页</title>
    <!-- 公共样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/base.css">
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/reset.css">
    <!-- H-ui 插件 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.css">
    <!-- font-al 字体图标库 -->
    <link rel="stylesheet" href="../../assets/font/font-al.css">
    <!-- 外链 css -->
    <link rel="stylesheet" href="./particulars.css">
    <!-- 外链头部 -->
    <script src="../../public/hade/hade.js"></script>
</head>
<body>
    <div id="particulars">
        <!-- 3级导航开始 -->
        <div class="rw-lst-header-nav">
            <div class="container">
                <div class="rw-lst-header-nav-header t-c-f relative">
                    <span class="rw-lst-header-nav-header-text">零售进货</span>
                    <!-- 1级菜单 -->
                    <div class="rw-lst-header-nav-fixed-header absolute">
                        <ul class="rw-lst-header-nav-first relative">
                            <li class="first-item">
                                <span class="f14">运动鞋</span>
                                <!-- 二级菜单 -->
                                <div class="absolute rw-lst-header-nav-second">
                                    <ul class="cl">
                                        <li class="f-l second-category-item c6">
                                            <a href="">你好</a>
                                        </li>
                                        <li class="f-l second-category-item c6">
                                            <a href="">你好</a>
                                        </li>
                                        <li class="f-l second-category-item c6">
                                            <a href="">你好</a>
                                        </li>
                                        <li class="f-l second-category-item c6">
                                            <a href="">你好</a>
                                        </li>
                                        <li class="f-l second-category-item c6">
                                            <a href="">你好</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 详情页开始 -->
        <div class="container">
            <div class="a-base-info-warp cl">
                <!-- 左侧 放大镜 -->
                <div class="imgwarp f-l">
                    <div class="imgdet">
                        <!-- 左侧图片列表 -->
                        <div class="imgpart relative">
                            <!-- 图片展示 -->
                            <div class="pic">
                                <!-- <img src="../../assets/image/img/2.jpg" alt=""> -->
                                <!-- 镜片 -->
                                <div class="magnify absolute"></div>
                            </div>
                            <!-- 放大后的图片, 放大后的图片的尺寸要设置为展示图片的倍数（2倍）-->
                            <div class="bigpic absolute">
                                <!-- <img src="../../assets/image/img/2.jpg" alt="" class="absolute"> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 右侧 信息 -->
                <div class="o-rwd-col-extra f-r">
                    <div class="o-base-info-detail-title">
                        <p>天地精华然饮用水弱碱矿泉水550ml*20瓶</p>
                    </div>
                    <div class="p-base-info-edlp">
                        <div class="base-info">
                            <div class="price-container">
                                <div class="font-grey dis-inBlock">
                                    <span class="c6">售价</span>
                                </div>
                                <div class="dis-inBlock">
                                    <span class="font-normal">￥</span>
                                    <!-- <span class="font-big">199</span> -->
                                </div>
                            </div>
                        </div>
                        <div class="moq cl">
                            <div class="price-tag f-l">
                                <span class="o-tag-default">限时促销</span>
                                <span class="font-little">&nbsp; 活动进行中</span>
                            </div>
                            <div class="price-endtime f-r">
                                <span>距结束: 1天 9小时</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="p-base-info-detail-floor-warp"> 
                        <div class="p-base-info-detail-attr-warp">
                            <span class="price-container-title dis-inBlock c6 p-peisg">配送</span>
                        </div>
                    </div>

                    <div class="p-detail-sellunit-grid cl">
                        <div class="c6 o-rwd-col-sub-wrap f-l">销售单位</div>
                        <div class="o-rwd-col-main-wrap dis-inBlock f-l">
                            <div class="next-tag-body dis-inBlock">
                                <p>颜色</p>
                            </div>
                        </div>
                    </div>

                    <div class="skus cl"> 
                        <div class="c6 o-rwd-col-sub-wrap f-l">销售单位</div>
                        <div class="amount dis-inBlock f-r"> 
                            <i class="c-p p-next-number dis-inBlock c6 t-c-f par-jian iconfont f-l">-</i>
                            <input type="text" value="1" class="next-number-picker-input-wrap t-c-f f-l" oninput="value=value.replace(/[^\d]/g,'')">
                            <i class="c-p p-next-number dis-inBlock c6 t-c-f par-jia iconfont f-l">+</i>
                        </div>

                    </div>

                    <div class="o-add-cart-footer">
                        <div class="footer-wrap cl">
                            <div class="total f-l">
                                共<em class="par-xiang">1</em>箱
                                <span class="money">
                                    ￥<em class="par-zonia">190</em>
                                </span>
                            </div>
                            <div class="operate f-r">
                                <button class="next-btn-large c-p">
                                    加入进货单
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 商品详情-->
            <div class="next-tabs-wrapped container">
                <div class="next-tabs-bar">
                    <div class="next-tabs-tab-inner">商品详情</div>
                </div>
                <div class="next-tabs-content cl">
                    <!-- <p class="p-props-info-tab-text f-l c6">
                        商家 :该商品供应商，完成入驻可查看
                    </p>
                    <p class="p-props-info-tab-text f-l c6">
                        建议零售价 : $60/箱
                    </p>
                    <p class="p-props-info-tab-text f-l c6">
                        品牌 :天地精华
                    </p>
                    <p class="p-props-info-tab-text f-l c6">
                        净含量 (规格) :550
                    </p>
                    <p class="p-props-info-tab-text f-l c6">
                        保质期 :365
                    </p>
                    <p class="p-props-info-tab-text f-l c6">
                        储藏方式 :阴凉干燥
                    </p>
                    <p class="p-props-info-tab-text f-l c6">
                        产品标准号 : GB8537
                    </p>
                    <p class="p-props-info-tab-text f-l c6">
                        商家 :该商品供应商，完成入驻可查看
                    </p> -->
                </div>
            </div>
        </div>

    </div>
    <!-- 公共底部 -->
    <script src="../../public/footer/footer.js"></script>
</body>

<!-- ajax -->
<script src="../../assets/js/ajax.js"></script>
<!-- 外链 js -->
<script src="./particulars.js"></script>
</html>