<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
    <!-- 公共样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/base.css">
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/reset.css">
    <!-- H-ui 插件 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="./zhuce.css"/>
    <!-- 公共头部 -->
    <script src="../../public/hade/hade.js"></script>
</head>
<body>
    <!-- hade 头部 模板 -->
    <header class="headerpage"></header>
    <!-- 注册 -->
    <div id="zhuce">
        <!-- 企业账户注册 -->
        <div class="member-steps">
            <div class="active-step">
                <i class="iconfont wu">&#xe67d;</i>
                企业账户注册
            </div>
        </div>
        <!-- 执照 -->
        <p class="member-sumary">有企业营业执照（含个体工商户）的用户请注册。权益如下：做企业实名认证；作为卖家身份开店；作为买家身份采购。</p>
        <!-- 注册 -->
        <div class="schema-form">
            <!-- 会员名 -->
            <div class="next-form-item">
                <span class="before">*</span>
                <span class="next-col-8">会&nbsp;员&nbsp;名 : &nbsp; &nbsp;&nbsp; </span>
                <input type="text" class="next-input-large uit" placeholder="设置会员名" data-type="uid" myAttr="false">
                <p>会员名为5-25字符，需要包含字母或者汉字</p>
            </div>
            <!-- 登录密码 -->
            <div class="next-form-item">
                <span class="before">*</span>
                <span class="next-col-8">登录密码 :&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="password" class="next-input-large pas" placeholder="设置你的登录密码" data-type="password" myAttr="false">
                <p>密码设置不符合要求</p>

            </div>
            <!-- 确认密码 -->
            <div class="next-form-item">
                <span class="before">*</span>
                <span class="next-col-8">密码确认 :&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="password" class="next-input-large pasS" placeholder="请再次输入你的登录密码" data-type="passwordS" myAttr="false">
                <p>两次输入的密码不一致，请重新输入</p>

            </div>
            <!-- 联系人姓名 -->
            <div class="next-form-item">
                <span class="before">*</span>
                <span class="next-col-8">联系人姓名 :&nbsp;</span>
                <input type="text" class="next-input-large nic" placeholder="请输入真实姓名" data-type="nick" myAttr="false">
                <p>不能全为数字,不能带有特殊标点符号</p>

            </div>
            <!-- 企业名称 -->
            <div class="next-form-item">
                <span class="before">*</span>
                <span class="next-col-8">企业名称 :&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="text" class="next-input-large com" placeholder="请输入营业执照上的公司名称" data-type="companyname" myAttr="false">
                <p>不能全为数字,不能带有特殊标点符号</p>

            </div>
            <!-- 是否销售 -->
            <div class="next-form-item  radioA">
                <span class="before">*</span>
                <span class="next-col-8">是否销售 :&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <label class="cc0"><input type="radio"  name="a" id="radio" class="next-radio"  value="1" checked="checked"> 是 </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="cc0"><input type="radio"  name="a" id="radio1" class="next-radio" value="0"> 否 </label>
            </div>
            <!-- 是否采购 -->
            <div class="next-form-item radioB">
                <span class="before">*</span>
                <span class="next-col-8">是否采购 :&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <label class="cc0"><input type="radio" name="b" id="radio3" class="next-radio" value="1" checked="checked"> 是 </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="cc0"><input type="radio" name="b" id="radio4" class="next-radio" value="0"> 否 </label>
            </div>
            <!-- 联系人电话 -->
            <div class="next-form-item">
                <span class="before">*</span>
                <span class="next-col-8">手机号码 :&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <input type="text" class="next-input-large mob" placeholder="请输入真实姓名" data-type="mobile" myAttr="false">
                <p>手机号码格式不正确，请重新输入</p>
            </div>
            <!-- 同意并注册 -->
            <div class="next-row">
                <button class="next-btn-primary">
                        同意并注册
                </button>
            </div>
        </div>
    </div>
       
</body>
    <!-- jquery 插件 -->
    <script  src="../../assets/js/jquery.js"></script>
    <!-- 外链 js -->
    <script src="./zhuce.js"></script>
</html>