/*
 * 初始化
 */

body {
    font-family: 'Microsoft YaHei', tahoma, arial, 'Hiragino Sans GB', \5b8b\4f53, sans-serif;
    -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
s {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%
}

.container-box {
    min-height: 100%;
    position: relative;
}

.container-box> .main {
    padding-bottom: 120px;
}

/* main的padding-bottom值要等于或大于footer的height值 */
.container-box .footer {
    width:100%;
    position:absolute;
    bottom:0;
    height:51px;
    z-index: 1;
}

li {
    list-style: none;
}

img {
    display: inline-block;
}

em {
    font-style: normal;
}

/* a */

a,
a:focus,
a:visited,
a:link,
a:hover {
    outline: none;
    text-decoration: none;
}

/* 元素i、select、input、textarea、button */

i {
    vertical-align: middle;
}

i,
label,
input[type='checkbox'] {
    vertical-align: middle;
}

/* bootstrap 栅格系统 固定容器 */

.row {
    margin: 0;
}

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {
    padding: 0;
}

/* 表单组 */
.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-control:focus {
    border-color: #14ADEF;
}

/* form表单中的label */
label {
    font-weight: normal;
}

/* 下拉菜单 */
.dropdown-menu {
    margin-top: 0px;
    padding: 0;
    border-radius: 0;
    min-width: 50px;
    text-align: left;
    font-size: 12px;
}

/* ul li水平排列 */
.list-inline {
    margin: 0;
}

ul.list-inline>li {
    padding: 0;
}