<!-- 轮播图 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.reset.css">
    <!-- H-ui 插件 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.css">
    <!-- 图标字体库 -->
    <link rel="stylesheet" href="../../assets/font/Hui-iconfont/1.0.8/iconfont.css">
    <!-- 外链 头部 样式 -->
    <link rel="stylesheet" href="../../public/hade/css/hade.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="./home.css">
</head>
<body>
    <!-- hade 头部 模板 -->
    <header class="headerpage"></header>
    <!-- page 首页 -->
    <div id="home">
        <!-- 轮播 -->
        <div class="slider">
            <div class="bd">
                <ul>
                    <li><a href="#" target="_blank"><img src="../../assets/image/bjimg/2.jpg"></a></li>
                    <li><a href="#" target="_blank"><img src="../../assets/image/bjimg/3.jpg"></a></li>
                    <li><a href="#" target="_blank"><img src="../../assets/image/bjimg/4.jpg"></a></li>
                    <li><a href="#" target="_blank"><img src="../../assets/image/bjimg/3.jpg"></a></li>
                </ul>
            </div>
            <ol class="hd cl dots">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ol>
        </div>
        <!-- 商品列表 -->
        <div class="topics-box">
            <div class="product-box">
                <ul class="product-list cl">

                    <!-- 待处理 -->
                    <!-- <li class="tit f-l">
                        <div>
                            全场
                            <br>
                            包邮
                            <span>-</span>
                        </div>
                    </li> -->
                    <!-- 商品信息 -->
                    
                    <li class="f-l">
                        <div class="content-outer">
                            <div class="content-inner">
                                <div class="img-box">
                                    <a href="">
                                        <img src="../../assets/image/img/2.jpg" alt="">
                                        <div class="store-num">仅剩8件</div>
                                    </a>
                                </div>

                                <div class="txt-box">
                                    <div class="price-xj">
                                        <span>￥</span>
                                        <i>79.00</i>
                                    </div>
                                    <div class="unit-price">单件￥39.50</div>
                                </div>

                                <div class="tit-box">
                                    <a href="">【2件包邮价】Kobayashi 小林制药 下水道口毛发收集贴 16枚/盒*2盒 不怕脏手即时抛弃</a>
                                </div>

                                <div class="tag-box">
                                    <span class="not-self">非自营</span>
                                    <span class="tax_allowance">税费补贴</span>
                                    <span class="shipping">包邮</span>
                                </div>

                                <a href="" class="popup_buy_view">立即选购</a>
                            </div>
                        </div>
                    </li>
                    <!-- 结束 -->
                    <!-- 待处理 -->
                    <!-- <li class="more f-l">
                        <a href="">
                            <span>查看更多</span>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom">
        <span class="dibu">底部页尾</span>
    </div>
    <!-- jquery 插件 -->
    <script  src="../../assets/js/jquery.js"></script>
    <!-- ejs 插件 -->
    <script src="../../public/hade/js/ejs.js"></script>
    <!-- heade 头部 模板 -->
    <script  src="../../public/hade/hadehome/hadehome.js"></script>
    <!-- 轮播插件 -->
    <script  src="../../assets/js/jquery.SuperSlide.min.js"></script>
    <!-- hade 头部 外链js -->
    <script async  src="../../public/hade/js/hade.js"></script>
    <!-- 外链 js -->
    <script src="./home.js"></script>
</body>

</html>