<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>详情页设计</title>
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.reset.css">
    <!-- H-ui 插件 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.css">
    <!-- 图标字体库 -->
    <link rel="stylesheet" href="../../assets/font/Hui-iconfont/1.0.8/iconfont.css">
    <!-- 外链 头部 样式 -->
    <link rel="stylesheet" href="../../public/hade/css/hade.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="./particulars.css" />
</head>
<body>
     <!-- hade 头部 模板 -->
     <header class="headerpage"></header>
     <!-- 详情页 -->
     <div id="particulars">
        <div class="p-base-info-warp">
            <div class="o-rwd-grid-extra cl">
            <!-- tab 切换 -->
                <div class="imgwarp f-l cl">
                    <!-- js 86 行 -->
                    <div class="o-muti-images-imgwarp f-l">
                        <!-- 放大镜 -->
                        <div class="imgdet wrap">
                            <!-- 左侧图片列表 -->
                            <div class="imgpart">
                                <!-- 图片展示 -->
                                <div class="pic">
                                    <!-- <img src="../../assets/image/img/9.JPG" alt=""> -->
                                    <!-- 镜片 -->
                                    <div class="magnify"></div>
                                </div>
                                <!-- 放大后的图片, 放大后的图片的尺寸要设置为展示图片的倍数（2倍）-->
                                <div class="bigpic">
                                    <img src="" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- 控制图 -->
                      <div class="o-muti-images-sliderwarp">
                            <div class="next-slick-horizontal">
                                <div class="next-slick-initialized">
                                    <ul class="cl">
                                        <li class="f-l o-image-thumb bd2x">
                                            <!-- <img src="../../assets/image/img/9.JPG" alt=""> -->
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 售价 / 信息 -->
                <div class="o-rwd-col-extra f-l">
                    <div class="p-base-info-detail-warp">
                        <!-- 标题 -->
                        <div class="p-base-info-detail-title">
                            <!-- 不二家四种水果味棒棒糖（60支罐装）375g水果味375g单罐
                            <span class="o-tag-blue">阿里发货</span> -->
                        </div>
                        <div class="p-base-info-edlp">
                            <!-- 售价 -->
                            <div class="base-info">
                                <div class="price-container cl">
                                    <div class="font-grey f-l">
                                        <p class="pdbd3">售价</p>
                                        <br>
                                        <p>起订量</p>
                                    </div>
                                    <!-- 价格 -->
                                    <div>
                                        <div class="price-container-content f-l cl">
                                            <!-- js 98 行 -->
                                            <!-- <div class="gezi">
                                                <p class="font-normal f-l">
                                                    <span>￥</span>
                                                    25.8
                                                </p>
                                                <div class="font-little f-l">
                                                    <s>￥27.8</s>
                                                    <p>/罐</p>
                                                </div>
                                            </div>
                                            <i class="ladder-2-1">2-49 / 罐</i> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 限时促销 -->
                            <div class="mop">
                                <div class="price-tag f-l">
                                    <span class="o-tag o-tag-default">限时促销</span>
                                    <span class="font-little">限购30罐（超出活动限量则全部按原价购买）</span>
                                </div>
                                <div class="price-endtime f-r">
                                    <span>距离结束: 11天9时</span>
                                </div>
                            </div>
                            <!-- 促销 -->
                            <div class="p-base-info-detail-floor-warp">
                                <div class="p-base-info-active-inner">
                                    <span>促销</span>
                                    <span>满减</span>
                                    <span>满减￥100减￥15支持叠加</span>
                                </div>
                                <p class="p-active-items-end-text">(活动截止时间:2019-05-21 23:59)
                                    <a href="">去凑单<i class="Hui-iconfont">&#xe6d7;</i></a>
                                </p>
                            </div>
                            <!-- 销量 -->
                            <div class="p-base-info-detail-floor-warp">
                                <div class="p-base-info-detail-attr-warp">
                                    <span>销量</span>
                                    <span>90天成交60148罐</span>
                                </div>
                                <div class="p-base-info-detail-attr-warp">
                                    <span>配送</span>
                                    <span>嘉兴市发货 &nbsp; | &nbsp; 满288免运费</span>
                                </div>
                            </div>
                            <!-- 销量单位 -->
                            <div>
                                <div class="o-rwd-grid">
                                    <div class="o-rwd-col-main grid-titl">
                                        <span class="sellunit-grid-title grid-title"></span>
                                        <p class="next-tag-selectable"><span>罐</span></p>
                                    </div>
                                </div>
                                <div class="skus">
                                    <p class="embed-prop">数量</p>
                                    <p class="price">
                                        <span class="next-icon-promotion">促</span>
                                        <span>￥25.8</span>
                                    </p>
                                    <p class="stock">1489罐可售</p>

                                    <div class="amount f-r">
                                        <div class="next-number-picker-handler-down-inner  jian"> <span>-</span> </div>
                                        <input type="text" value="1" class="p-neb" oninput="value=value.replace(/[^\d]/g,'')">
                                        <div class="next-number-picker-handler-down-inner jia"> <span>+</span> </div>
                                    </div>

                                </div>
                            </div>

                            <div class="o-add-cart-footer cl">
                                <div class="total f-l">
                                    <span class="quantity">共 <em>1</em> 罐</span>
                                    <span class="money">￥<em>0</em></span>
                                </div>
                                <div class="button f-r">
                                    <button class="next-btn-large">加入进货单</button>
                                </div>
                            </div>

                            <div class="o-rwd-col-sub">
                                <span>保障</span>
                                <span>无忧购</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- 商品详情 -->
            <div class="next-tabs-wrapped">
                <div class="next-tabs-bar">
                    <div class="next-tabs-tab-inner">
                        商品详情
                    </div>
                </div>
                <div class="next-tabs-content cl">
                     <!-- js 108 行 -->
                    <!-- <div class="p-props-info-tab-warp f-l">
                        <p>商家:该商品供应商,完成入驻可查看</p>
                        <p>品牌:Lipton/立顿</p>
                        <p>保质期 : 730天</p>
                        <p>包装规格 : 红茶</p>
                    </div>
                    <div class="p-props-info-tab-text f-l">
                        <p>建议零售价 : ￥9.9/盒</p>
                        <p>生产日期 : 2019年01月</p>
                        <p>净含量（规格） : 50</p>
                        <p>商品条形码 : 6913221220109</p>
                    </div> -->
                </div>
            </div> 
        </div>
     </div>
     <!-- 底部 -->
     <div class="bottom">
        <span class="dibu">底部页尾</span>
    </div>

    <!-- heade 头部 模板 -->
    <script  src="../../public/hade/hadeCategory/hadehlCate.js"></script>

    <!-- jquery 插件 -->
    <script  src="../../assets/js/jquery.js"></script>

    <!-- cookie  -->
    <script src="../../assets/js/cookie.js"></script>

    <!-- 自定义 js -->
    <script src="./particulars.js" defer></script>
</body>
</html>