<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商家中心</title>
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/base.css">
    <!-- 公共样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/reset.css">
    <!-- 外链 css -->
    <link rel="stylesheet" href="./d-business.css">
</head>
<body>
    <!-- 头部 -->
    <script src="../../public/hade/hade.js"></script>
    <!-- 商家中心 -->
    <div id="business">
        <div class="text-catpath container">
            <!-- 当前类目 -->
            <li class="d-unit-line cl">
                <strong class="cl f-l f14">当 前 类 目  &nbsp;:&nbsp;</strong>
                <!-- 省 -->
                <span class="select-box f-l">
                    <select name="" id="" class="select" onchange="province('sheng',value)" >
                        <option class="" value="">请选择城市</option>
                    </select>
                </span>
                <!-- 市 -->
                <span class="select-box f-l">
                    <select name="" class="select">
                        <option class="" value="">请选择城市</option>
                    </select>
                </span>
                <!-- 区 -->
                <span class="select-box f-l">
                    <select class="select">
                        <option class="" value="">请选择城市</option>
                    </select>
                </span>
            </li>
            <!-- 产品信息 -->
            <div class="product-card-title">
                <strong class="f14">产品信息</strong>
                <span class="xing c6 f12" > 产品参数 注：请确保您填写的产品信息准确无误，类目、品牌、卖点、SKU名称、图片等信息的修改详见</span>
            </div>
            <!-- 信息框 -->
            <div class="sell-catProp">
                <span class="next-col relative">
                    <span class="c6 f14">品牌</span>
                    <input type="text">
                </span>
            </div>

        </div>
    </div>
    
</body>
</html>