<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.reset.css" >
    <!-- H-ui 插件 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.css">
    <!-- 图标字体库 -->
    <link rel="stylesheet" href="../../assets/font/Hui-iconfont/1.0.8/iconfont.css">
    <!-- 外链 头部 样式 -->
    <link rel="stylesheet" href="../../public/hade/css/hade.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="./denglu.css"/>
</head>
<body>
    <div id="logon">
        <div class="ocms-component-member-login-1-0-17 cl">
            <div class="page2 f-r">
                <div class="no-longlogin">
                    <div class="login-title">密码登录</div>
                    <!-- 账号 -->
                    <div class="username-field">
                        <span class="TPL_username_1"> <i class="Hui-iconfont">&#xe60d;</i> </span>
                        <input type="text" class="login-text account" placeholder="会员名/邮箱/手机号" data-type="text">
                    </div>
                    <!-- 密码 -->
                    <div class="username-field">
                        <span class="TPL_username_1"> <i class="Hui-iconfont">&#xe60e;</i> </span>
                        <input type="password" class="login-text password">
                    </div>
                    <!-- 登录 -->
                    <button type="submit" class="J_Submit" tabindex="3" data-ing="正在登录...">登 录</button>
                    <!-- 忘记密码 -->
                    <div class="login-links">
                        <a href="">忘记密码</a>
                        <a href="">忘记会员名</a>
                        <a href="">免费注册</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- 外链jquery -->
<script src="../../assets/js/jquery.js"></script>
<script src="../../assets/js/cookie.js"></script>
<script src="./denglu.js"></script>
</html>