.ocms-component-member-login-1-0-17 {
    width: 100%;
    height: 610px;
    background:url(../../assets/image/bjimg/deng.jpg);
}
.page2 {
    width: 360px;
    height: 360px;
    margin-right: 100px;
    margin-top: 130px;
    background: #fff;
}
.no-longlogin {
    width: 300px;
    padding: 25px 25px 23px;
    color: #6c6c6c;
    background: #fff;
    margin: 0 auto;
    height: 260px;
    border-bottom:1px solid #CCC; 
}
.login-title {
    height: 18px;
    line-height: 18px;
    font-size: 16px;
    color: #666;
    margin-top: 9px;
    padding-bottom: 8px;
    font-weight: 700;
}
.username-field {
    margin-top: 20px;
    background: red;
    position: relative;
}
.login-text {
    width: 240px;
    font-size: 14px;
    line-height: 18px;
    height: 18px;
    padding: 11px 8px 11px 50px;
    border: 1px solid #ddd;
}
.TPL_username_1 {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 1px;
    background: #ddd;
}
.TPL_username_1 i {
    font-size: 24px;
    margin-left: 8px;
    color: #fff;
}
.J_Submit{
    margin-top: 25px;
    width: 300px;
    height: 42px;
    border: 0;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    line-height: 42px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: #f40;
    border-radius: 3px;
    cursor: pointer;
    zoom: 1;
}
.login-links {
    margin-top: 15px;
    margin-left: 100px;
}
.login-links a {
    color: #6c6c6c;
    margin-right: 5px;
    margin-left: 2px;
}
