/* hade 头部 单独样式 */

/* 导航 */
#hade .rw-lst-header .rw-lst-header-bar {
    width: 1160px;
    margin: 0 auto;
}

#hade .rw-lst-header-search-addcart-box {
    margin-left: 47px;
}
/* logo 搜索框 */
#hade .rw-lst-header-search {
    width: 1160px;
    height: 44px;
    margin: 0 auto;
}
#hade .rw-lst-header-bar-right {
    width: 337px !important;
}
#hade .link {
    padding: 0 0 0 10px !important;
}
#hade .rw-lst-header-search  .header-search-brand {
    margin-right: 136px;
    width: 171px;
}
#hade .header-search-brand-link {
    width: 66px;
}
#hade .rw-lst-header-search .rw-lst-header-search-box {
    width: 538px;
    height: 44px;
}
#hade .rw-lst-header-search-box .rw-dropdown-wrapper {
    width: 438px;
}
/* 商品列表 */
#hade .rw-lst-header-nav {
    width: auto;
    max-width: 1160px;
    border-bottom: 1px solid #DCDEE3;
}
#hade .rw-lst-header-nav .rw-lst-header-nav-header {
    width: 241px;
    margin-top: 1px;
}
#hade .rw-lst-header-nav .rw-lst-header-nav-fixed-header {
    position: absolute;
    top: 40px;
    z-index: 999;
    border-top: 1px dashed rgba(255, 255, 255, 0.4);
}
#hade .rw-lst-header-nav-first {
    display: none;
}
/* hade 头部 单独样式  结束*/

/* 商品分类页设计 Category */
#Category .o-rwd-main-content .p-bread {
    margin: 12px 0;
    line-height: 16px;
}
#Category .p-bread-title {
    margin-right: 8px;
}

#Category .p-bread i{
    color: #A0A2AD;
    font-size: 14px;
    margin-right: 4px;
}

#Category .p-bread-number .on {
    color: #DF2211;
}
#Category .o-rwd-main-content .p-sn {
    border: 1px solid #DCDEE3;
    border-top: none;
}
#Category .p-sn-container .heaz {
    width: 70px;
    height: 36px;
    padding-left: 10px;
    line-height: 36px;
}
#Category .p-sn-container .body {
    width: 855px;
    max-height: 36px; 
    -webkit-transition: all 2s;
    overflow: hidden;
}

#Category .p-sn-container .p-sn-tab-foot {
    width: 130px;
    height: 36px;
}
#Category .body .item {
    width: 148px;
    float: left;
    height: 16px;
    padding: 10px;
}
#Category .item :hover {
    color: red;
}
#Category .body .item a {
    text-decoration:none !important;    
}
#Category .next-checkbox {
    margin-right: 4px;
    display: none;
}
#Category .next-checkbox input {
    width: 16px;
    height: 16px;
}
#Category .short-text {
    color: #000;
    font-size: 12px;
    vertical-align:2px;
}
#Category .bbb {
    display: inline-block;
    width: 16px;
    height: 16px;
}
#Category .next-btn {
    width: 50px;
    border-radius: 0;
    height: 20px;
    margin-top: 10px;
    font-size: 12px;
    padding: 0;
}
#Category .btna {
    margin-left: 10px;
}
#Category .btna i {
    display: inline-block;
    -webkit-transition: transform 1s;
}
#Category .next-btn-normal {
    width: 50px;
    position: absolute;
    top: 10px;
    left: 0;
    display: none;
}
#Category .normal {
    left: 54px;
}
#Category .p-sn-tab-foot .lef {
    margin-left: 60px;
}
/* 更多属性 */
#Category .p-sn-container .items {
    height: 36px;
    /* background: red */
    position: relative;

}
#Category .hoverable {
    padding: 10px;
    width: 148px;
    height: 18px;

}
#Category .items .aa {
    border: 1px solid #DCDEE3;
    border-bottom: 1px solid #fff;
}
#Category .items .hobd {
    border: 1px solid #fff;
}
#Category .hoverable .more-text {
    margin: 0 20px;
    color: #000;
    position: relative;
    top: 0;
    left: 0;
    text-decoration:none;
}
#Category .hoverable i {
    color: #000;
}
#Category .hoverable .detail {
    background: #fff;
    border: 1px solid #DCDEE3;
    border-top: none;
    width: 1158px;
    height: 36px;
    position: absolute;
    top: 41px;
    left: -1px;
    display: none;
}
#Category .detail .p-sn-tab-body {
    width: 128px;
    height: 14px;
    padding: 10px;
    text-align: center
}
#Category .detail .p-sn-tab-body a{
    text-decoration:none;

}
#Category .detail .p-sn-tab-body a:hover {
    color: red;
}
#Category .bianfff {
    width: 170px;
    height: 2px;
    background: #fff;
    position: absolute;
    top: 27px;
    left: -31px;
    display: none;
}
#Category .xuan {
    display: inline-block;
    -webkit-transition: transform 0.4s;
}
#Category .hored {
    color:red !important;
}

/* 综合 / 最新 */
#Category .o-rwd-main-content .p-condition {
    width: 1158px;
    height: 39px;
    margin: 12px 0;
    background: #F2F3F7;
    border: 1px solid #DCDEE3;
}
#Category .p-condition .p-condition-group {
    font-size: 0;
}
#Category .p-condition-group .next-btn-medium {
    width: 56px;
    height: 40px;
}
#Category .p-condition-group .zong {
    background: #DF2211;
    color: #fff;
    border-top: none;
}

#Category .p-condition-group .zui {
    border-top: none;
}
#Category .p-condition .p-condition-checkbox {
    width: 245px;
    height: 40px;
}
#Category .p-condition-select {
    width: 90px;
    height: 29.8px;
    margin-top: 4px;
    margin-right: 12px;
    background: #fff;
    border: 1px solid #A0A2AD;
    position: relative;
}
#Category .p-condition-select .medium {
    height: 28px;
    line-height: 26px;
    padding-left: 6px;
    padding-right: 25px;
    font-size: 12px;
    border-width: 1px;
}
#Category .p-condition-select i {
    width: 16px;
    font-size: 18px;
    line-height: inherit;
}
#Category .p-condition-checkbox label {
    margin-right: 8px;
}

#Category .next-btn-group {
    width: 140px;
    height: 16.7px;
    margin-top: 7px;
}

#Category .next-checkboxs input {
    width: 17px;
    height: 17px;   
    color: #fff;
    vertical-align:text-bottom;margin-bottom:-1px;*margin-bottom:-4px;
}
#Category .next-btn-group label span{
    color: #333;
    font-size: 12px;
    vertical-align: middle;
}
#Category .p-main-list {
    margin: 0 auto;
}
.c-offerlist {
    width: 1160px;
    margin-left: -17px;
}
/* 商品列表 */
#Category .c-offerlist .c-offerlist-wrap {
    width: 268px;
    height: 430px;
    padding: 4px 0 4px 22px;
}
#Category .c-offerlist-wrap .c-offer-noraml {
    width: 275px;
    height: 422px;
    position: relative;
    overflow: hidden;
    border: 1px solid #E6E7EB;

}
#Category .c-offerlist-wrap .c-offer-noraml:hover {
    border: 1px solid red;
}
#Category .c-offer-noraml .tup {
    width: 278px;
    height: 278px;
    -webkit-transition: all 0.5s;
}
#Category .c-offer-price-con {
    width: 257px;
    height: 38px;
    margin: 0 auto;
    margin-top: 10px;

    
}
#Category .c-offer-price {
    display: inline-block;
    width: 22px;
    height: 22px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 22px;
}
#Category .qian {
    color: red;
    font-size: 16px;
}
#Category .o-tag-promotion {
    color: red;
    font-size: 19px;
}
#Category .c-offer-price-old {
    margin-top: 8px;
    text-decoration: line-through;
}
#Category .c-offer-prop-b {
    width: 257px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
}

#Category .spec-wrap {
    color:#888;
    margin-left: 10px;
    display: inline-block;
}
#Category .c-offer-prop {
    width: 30px;
    height: 18px;
    border: 1px solid red;
    color: red;
    text-align: center;
    margin: 5px 0 5px 10px;
}
#Category .fd-right {
    width: 275px;
    height: 20px;
    background: rgba(96, 96, 96,0);
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 142px;
    left: 0;
    -webkit-transition: all 0.5s;
}
#Category .w160p {
    background: rgba(96, 96, 96,1);
    bottom: 160px;
    -webkit-transition: all 0.5s;
}
#Category .c-offer-noraml .w50p {
    transform: scale(1.1);  
}
/* 底部 */
.bottom {
    width: 1450px;
    margin: 0 auto;
    height: 100px;
    background: #C2C2C2;
    text-align: center;

}
.dibu {
    color: #fff;
    font-size: 30px;
    line-height: 100px;
}
.next-position-bl {
    position: absolute;
    width: 90px;
    height: 140px;
    border: 1px solid #E6E7EB;
    top: 31px;
    left: -1px;
    z-index: 999;
    display: none;
}
.next-menu-item {
    width: 100%;
    height: 28px;
    background: #fff;
    text-align: center;
    line-height: 28px;
}
