<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>商品分类页设计</title>

    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.reset.css">
    <!-- H-ui 插件 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.css">
    <!-- 公共样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/Custom.css">
    <!-- 图标字体库 -->
    <link rel="stylesheet" href="../../assets/font/Hui-iconfont/1.0.8/iconfont.css">
    <!-- 外链 头部 样式 -->
    <link rel="stylesheet" href="../../public/hade/css/hade.css">
    <!-- 分页css -->
    <link rel="stylesheet" type="text/css" href="./kkpager_orange.css" />
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="./Category.css">
</head>

<body>
    <!-- hade 头部 模板 -->
    <header class="headerpage"></header>
    <!-- 商品分类页设计 Category -->
    <div id="Category">
        <div class="o-rwd-main-content container">
            <div>
                <!-- 您正搜索 -->
                <div class="p-bread clr555 f12 cl">
                    <div class="f-l">
                        <span class="p-bread-title">您正搜索 : </span>
                        <a href="" class="next-breadcrumb-text f12 clr555">
                            <span>休闲零食</span>
                        </a>
                        <i class="Hui-iconfont">&#xe6d7;</i>
                        <a href="" class="next-breadcrumb-text f12 clr555">
                            <span>休闲零食</span>
                        </a>
                        <i class="Hui-iconfont">&#xe6d7;</i>
                        <a href="" class="next-breadcrumb-text f12 clr555">
                            <span>糖果</span>
                        </a>
                    </div>

                    <div class="p-bread-number f-r">
                        共<span class="on">723</span>件相关商品
                    </div>
                </div>
                <!-- 品牌 -->
                <div class="p-sn bor">
                    <div class="p-sn-container bor1 cl">
                        <div class="heaz f-l">
                            <span>品牌 :</span>
                        </div>
                        <div class="body f-l">
                            <!-- 品牌 -->
                            <ul class="cl">
                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                            <label class="next-checkbox">
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>

                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                            <label class="next-checkbox">
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                            <label class="next-checkbox">
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                            <label class="next-checkbox">
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                            <label class="next-checkbox">
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                            <label class="next-checkbox">
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                            <label class="next-checkbox">
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                            <label class="next-checkbox">
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                            <label class="next-checkbox">
                                                <input type="checkbox">
                                            </label>
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="p-sn-tab-foot relative f-r cl">
                            <button type="button" class="btn btn-danger-outline radius next-btn btns f-l">多选 <i
                                    class="Hui-iconfont">&#xe600;</i></button>
                            <button type="button" class="btn btn-danger-outline radius next-btn btna f-l">隐藏 <i
                                    class="Hui-iconfont">&#xe6d5;</i></button>
                            <button type="button" class="next-btn-normal">确认</button>
                            <button type="button" class="next-btn-normal normal">取消</button>
                        </div>
                    </div>
                </div>
                <!-- 分类 -->
                <div class="p-sn">
                    <div class="p-sn-container cl">
                        <div class="heaz f-l">
                            <span>分类 :</span>
                        </div>
                        <div class="body f-l">
                            <!-- 品牌 -->
                            <ul class="cl">
                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>

                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>
                                <li class="item">
                                    <a href="">
                                        <div class="bbb">
                                        </div>
                                        <span class="text short-text">索劲（零食）</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="p-sn-tab-foot f-r cl">
                            <button type="button" class="btn btn-danger-outline radius next-btn btna lef">隐藏 <i
                                    class="Hui-iconfont">&#xe6d5;</i></button>
                        </div>
                    </div>
                </div>
                <!-- 更多属性 -->
                <div class="p-sn">
                    <div class="p-sn-container cl">
                        <div class="heaz f-l">
                            <span>更多属性 :</span>
                        </div>
                        <ul class="items cl">

                            <li class="hoverable hobd f-l">
                                <a href="" class="more-text">口味
                                    <p class="bianfff"></p>
                                </a>
                                <i class="Hui-iconfont xuan">&#xe6d5;</i>
                                <div class="detail">
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">浓香型白酒</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">酱香型白酒</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">清香型白酒</a>
                                    </div>

                                    <div class="p-sn-tab-body f-l">
                                        <a href="">米香型白酒</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">凤祥型白酒</a>
                                    </div>
                                </div>
                            </li>

                            <li class="hoverable hobd  f-l">
                                <a href="" class="more-text">存储方法
                                    <p class="bianfff"></p>
                                </a>
                                <i class="Hui-iconfont xuan">&#xe6d5;</i>
                                <div class="detail">
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">阴凉干燥</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">阴凉干燥</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">密封</a>
                                    </div>

                                    <div class="p-sn-tab-body f-l">
                                        <a href="">散装</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">货物</a>
                                    </div>
                                </div>
                            </li>

                            <li class="hoverable hobd f-l">
                                <a href="" class="more-text">存储方法
                                    <p class="bianfff"></p>
                                </a>
                                <i class="Hui-iconfont xuan">&#xe6d5;</i>
                                <div class="detail">
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">阴凉干燥</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">阴凉干燥</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">密封</a>
                                    </div>

                                    <div class="p-sn-tab-body f-l">
                                        <a href="">散装</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">货物</a>
                                    </div>
                                </div>
                            </li>

                            <li class="hoverable hobd f-l">
                                <a href="" class="more-text">存储方法
                                    <p class="bianfff"></p>
                                </a>
                                <i class="Hui-iconfont xuan">&#xe6d5;</i>
                                <div class="detail">
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">阴凉干燥</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">阴凉干燥</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">密封</a>
                                    </div>

                                    <div class="p-sn-tab-body f-l">
                                        <a href="">散装</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">货物</a>
                                    </div>
                                </div>
                            </li>

                            <li class="hoverable hobd f-l">
                                <a href="" class="more-text">存储方法
                                    <p class="bianfff"></p>
                                </a>
                                <i class="Hui-iconfont xuan">&#xe6d5;</i>
                                <div class="detail">
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">阴凉干燥</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">阴凉干燥</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">密封</a>
                                    </div>

                                    <div class="p-sn-tab-body f-l">
                                        <a href="">散装</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">货物</a>
                                    </div>
                                </div>
                            </li>

                            <li class="hoverable hobd f-l">
                                <a href="" class="more-text">存储方法
                                    <p class="bianfff"></p>
                                </a>
                                <i class="Hui-iconfont xuan">&#xe6d5;</i>
                                <div class="detail">
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">阴凉干燥</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">阴凉干燥</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">密封</a>
                                    </div>

                                    <div class="p-sn-tab-body f-l">
                                        <a href="">散装</a>
                                    </div>
                                    <div class="p-sn-tab-body f-l">
                                        <a href="">货物</a>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- 综合 / 最新 -->
                <div class="p-condition cl">
                    <div class="p-condition-group f-l">
                        <button type="button" class="btn next-btn-medium zong">综合</button>
                        <button type="button" class="btn next-btn-medium zui">最新</button>
                    </div>
                    <div class="p-condition-checkbox f-r cl">
                        <div class="p-condition-select f-l">
                            <span class="next-select medium">促销</span>
                            <i class="Hui-iconfont cu">&#xe6d5;</i>
                            <div class="next-position-bl">
                                <ul>
                                    <li class="next-menu-item">全部促销</li>
                                    <li class="next-menu-item">限时促销</li>
                                    <li class="next-menu-item">满减</li>
                                    <li class="next-menu-item">满赠</li>
                                    <li class="next-menu-item">取消筛选</li>
                                </ul>
                            </div>
                        </div>

                        <div class="next-btn-group f-l">
                            <label>
                                <span class="next-checkboxs">
                                    <input type="checkbox">
                                </span>
                                <span>阿里发货</span>
                            </label>
                            <label>
                                <span class="next-checkboxs">
                                    <input type="checkbox">
                                </span>
                                <span>进口</span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- 商品列表 -->
                <div class="p-main-list">
                    <div class="c-offerlist">
                        <ul class="cl p-product">
                            <li class="c-offerlist-wrap f-l">
                                <a href="../particulars/particulars.html">
                                    <div class="c-offer-noraml">
                                        <img src="../../assets/image/img/6.jpg" alt="" class="tup">
                                        <p class="c-offer-price-con cl">
                                            <span class="c-offer-price">促</span>
                                            <span class="qian">￥</span>
                                            <span class="o-tag-promotion">?</span>
                                            <span>/箱</span>
                                            <span class="f-r c-offer-price-old">￥?</span>
                                        </p>
                                        <div class="c-offer-prop-b">
                                            <a href="">Moutai/茅台 43度 飞天茅台 酱香型白酒（内含3只手提袋）500ml*6瓶</a>
                                        </div>
                                        <div class="spec-wrap">1箱起订</div>
                                        <div class="c-offer-prop">满赠</div>
                                        <div class="fd-right">
                                            <span>库存20箱</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 分页 -->
        <div style="width:800px;margin:0 auto;">
            <div id="kkpager"></div>
        </div>
    </div>
    
    <div class="bottom">
        <span class="dibu">底部页尾</span>
    </div>
    <!-- 底部 -->

    <!-- heade 头部 模板 -->
    <script  src="../../public/hade/hadeCategory/hadehlCate.js" defer></script>
    <!-- jquery 插件 -->
    <script  src="../../assets/js/jquery.js"></script>
    <!-- 分页 js -->
    <script type="text/javascript" src="./kkpager.min.js"></script>
    <!-- 自定义 js -->
    <script src="./Category.js" defer></script>
</body>

</html>