<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单页</title>
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.reset.css">
    <!-- H-ui 插件 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.css">
    <!-- 图标字体库 -->
    <link rel="stylesheet" href="../../assets/font/Hui-iconfont/1.0.8/iconfont.css">
    <!-- 外链 头部 样式 -->
    <link rel="stylesheet" href="../../public/hade/css/hade.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="./goodsOrder.css"/>
</head>
<body>
    <!-- hade 头部 模板 -->
    <header class="headerpage"></header>
    <!-- 商品订单页 -->
    <div id="goodsOrder">
        <div class="screen">
            <div class="mod-alipay-level-warning">
                <div class="content">
                    根据监管部门要求，在完善身份信息后您的支付宝账户余额才能付款，麻烦您尽快
                    <a href="" class="link-strong">完善信息</a>
                </div>
            </div>

            <div class="g-mod-address">
                <div class="g-zone-sublevel cl">
                    <div class="g-sub-header f-l">
                        <span class="g-sub-title">收货地址：</span>
                    </div>
                    <div class="g-sub-content f-r">
                        <!-- 复杂交互 -->
                        <div class="g-sub-container">
                                <!-- 默认地址 -->
                            <div class="g-address-info-block">
                                <!-- 信息 -->
                                <div class="g-address-info cl">
                                    <!-- <dl class="g-unit-line f-l">
                                        <i class="Hui-iconfont">&#xe62c;</i>
                                        <dd>&nbsp; 张三</dd>
                                    </dl>
                                    <dl class="g-unit-line f-l">
                                        <i class="Hui-iconfont">&#xe6c9;</i>
                                        <dd class="line-label-address">
                                            <span>吉林省 &nbsp;</span>
                                            <span>按林市 &nbsp;</span>
                                            <span>吉老区 &nbsp;&nbsp;&nbsp;</span>
                                            <span>详细地址很详细</span>
                                        </dd>
                                    </dl>
                                    <dl class="g-unit-line f-l">
                                        <i class="Hui-iconfont">&#xe6c7;</i>
                                        <dd>
                                            <span>13073710147</span>
                                        </dd>
                                    </dl> -->
                                </div>
                                
                                <!-- 切换 -->
                                <div class="g-edit-address">
                                    <a href="#" class="g-edit-temp-address g-link-lesser">更改</a>
                                    <a href="#" class="g-edit-address-info g-link-lesser">使用临时地址</a>
                                </div>
                            </div>  
                            <!-- 更改 -->
                            <div class="g-address-list-block">
                                <ul class="g-address-list">
                                    <li class="g-default">
                                        <span class="g-lang-radio">
                                            <input type="radio" name="1" value="a" class="p-radio" checked="true">
                                        </span>
                                        <div class="g-select-label">
                                            <span>侯迁鹤</span>
                                            <span>吉林省</span>
                                            <span>吉林市</span>
                                            <span>东华街道</span>
                                            <span>详细地址</span>
                                        </div>
                                        <div class="g-panel f-r">
                                            <a href="#" class="g-isdefault">默认地址</a>
                                            <a class="p-xg">修改</a>
                                        </div>
                                    </li>

                                    <li class="g-default">
                                        <span class="g-lang-radio">
                                            <input type="radio" name="1" value="b" class="p-radio">
                                        </span>
                                        <div class="g-select-label">
                                            <span>侯迁鹤</span>
                                            <span>吉林省</span>
                                            <span>吉林市</span>
                                            <span>东华街道</span>
                                            <span>详细地址</span>
                                            <span>13073710147</span>
                                        </div>
                                        <div class="g-panel  f-r">
                                            <span class="g-isdefault">修改默认地址</span>
                                            <a class="p-xg">修改</a>
                                        </div>
                                    </li>

                                </ul>
                                <div class="op-bar-bottom">
                                    <a href="#" class="p-button-stress">确认收货信息</a>
                                    <a href="" class="p-cancel">取消</a>
                                </div>

                                <!-- 收货修改 -->
                            </div>

                            <!-- 使用临时地址 -->
                            <div class="g-address-temp-block">
                                <div class="p-fd-gray">
                                        临时地址仅为本次订购使用
                                </div>
                                <div class="show-copy-area">
                                    <div class="p-zone-editaddress">
                                        <ul class="edit-area edit-areA">
                                            <li class="p-fd-clr cl">
                                                <div class="f-l letter-2">收 &nbsp; 货 &nbsp; 人 &nbsp;:</div>
                                                <div class="f-l"> <input type="text" class="lang-input"> </div>
                                            </li>

                                            <li class="unit-line cl">
                                                <span class="cl f-l">所 在 地 区: &nbsp;&nbsp;&nbsp; </span>
                                                    <span class="select-box size-MINI td115 province f-l">
                                                        <select nullmsg="请选择所在城市！" datatype="*" name="" size="1" class="select provinces" onchange="provinceA()">
                                                            <option selected="" value="">请选择城市</option>
                                                            <!-- <option value="1">北京</option>
                                                            <option value="2">上海</option>
                                                            <option value="3">广州</option> -->
                                                        </select>
                                                    </span>
                                                    <span class="select-box size-MINI td115 city f-l">
                                                        <select nullmsg="请选择所在城市！" datatype="*" name="" size="1" class="select citys" onchange="cityA()">
                                                            <!-- <option value="1">北京</option>
                                                            <option value="2">上海</option>
                                                            <option value="3">广州</option> -->
                                                        </select>
                                                    </span>
                                                    <span class="select-box size-MINI td115 district f-l">
                                                        <select nullmsg="请选择所在城市！" datatype="*" name="" size="1" class="select selects">
                                                            <!-- <option value="1">北京</option>
                                                            <option value="2">上海</option>
                                                            <option value="3">广州</option> -->
                                                        </select>
                                                    </span>
                                                </span>
                                            </li>

                                            <li class="cl">
                                                <div class="f-l letter-2">详 细 地 址 :</div>
                                                <div><textarea name="" id="" cols="30" rows="10" class="p-input-address"></textarea></div>
                                            </li>
                                            <li class="p-fd-clr cl">
                                                <div class="f-l letter-2"> 手 &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机 :</div>
                                                <div class="f-l"> <input type="text" class="lang-input p-address-chooser"></div>
                                            </li>
                                        </ul>
                                        <div class="op-bar-bottom">
                                            <a href="javascript:void(0);" class="p-button-stress p-button-stressA">确认收货信息</a>
                                            <a href="" class="p-cancel">取消</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="district">
                <div class="layout">
                    <!-- 卖家信息 -->
                    <div class="store">
                        <div class="contact cl">
                            卖家 :
                            <a href="" class="store-name">石狮市云兀服装厂</a>
                            <p class="ww-inline f-r"></p>
                        </div>
                    </div>
                    <!-- 订单信息 -->
                    <div class="mod-sublevel cl">
                        <div class="header f-l">
                            <h2 class="text-aux">订单1 :</h2>
                        </div>
                        <div class="zone-order f-l">
                            <!-- 收货信息 -->
                                <ul class="list cl">
                                    <li class="f-l">货品信息</li>
                                    <li class="f-l">单价 (元)</li>
                                    <li class="f-l">数量</li>
                                    <li class="f-l">优惠 (元)</li>
                                    <li class="f-l">金额 (元)</li>
                                    <li class="f-l">运费 (元)</li>
                                </ul>
                            <!-- 商品/数量 -->
                            <div class="single">
                                <div class="p-single">
                                    <ul class="cl">
                                        <li class="f-l cl cell-thumbnail">
                                            <img class="f-l" src="../../assets/image/img/11.jpg" alt="">
                                            <div class="f-l offer-title">
                                                <a href="">夏季防晒衣男外套韩版薄款潮青年连帽工装帅气皮肤衣夹克厂家代发</a>
                                                <div>
                                                    <span>颜色 : 灰色 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                    <span> 尺码 : M</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="unit-price f-l">
                                            <span>50.00</span>
                                        </li>
                                        <li class="unit-finecontrol f-l">
                                            <button class="minus yang f-l">
                                                <span>-</span>
                                            </button>
                                            <input type="text" value="0" class="lang-input f-l">
                                            <button class="plus yang f-l">
                                                <span>+</span>
                                            </button>
                                        </li>
                                        <li class="rebate f-l">
                                            <div class="unit-select">
                                                省25:一件可拍
                                            </div>
                                        </li>
                                        <li class="unit-price f-l">
                                            <span>25.00</span>
                                        </li>
                                        <li class="unit-price f-l">
                                            <span>6.00</span>
                                        </li>
                                        <!-- 卖家留言 -->
                                        <div class="summary">
                                            <div class="f-l data-spm-anchol">
                                                <span class="f-l">给卖家留言 : </span>  
                                                <textarea class="f-l z-text" value="你猜猜"></textarea>
                                            </div>
                                            <div class="f-r data-spm-anchor">
                                                <div class="cl">
                                                    <div class="f-r">
                                                        <span class="labele">货品总金额 :</span>
                                                        <strong class="control">150.00</strong>元
                                                    </div>
            
                                                </div>
                                                <div class="cl">
                                                    <div class="f-r">
                                                        <span class="labele">运费共计 :</span>
                                                        <strong class="control">6.00</strong>元
                                                    </div>
                                                </div>
                                                <div class="box-remind-lumptip">
                                                    <div>
                                                        货品的库存以实际支付为准，下单后请尽快完成支付
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>  
                    <!-- 总计 -->
                    <div class="screene cl">
                        <div class="cell-header f-l">总计 :</div>
                        <div class="contents f-l cl">
                            <div class="f-l">
                                <span>货品分类 : </span>
                                <span> 1 种</span>
                                <span>数量总计 :</span>
                                <span>4 件</span>
                            </div>
                            <div class="summary-cash f-r cl">
                                <div>
                                    <div class="item-goods-total f-r an">货品总金额 : <span>25.00</span>元</div>
                                </div>
                                <div>
                                    <div class="item-rebate-total f-r an">运费共计 : <span>6.00</span>元</div>
                                </div>
                                <div>
                                    <div class="item-due-total f-r">应付总额 (含运费) : <strong class="p-nbe"></strong>元</div>
                                </div>
                                <div class="item-order-anonymous f-r">
                                    <input type="checkbox">
                                    <span>匿名购买</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 提交订单 -->
                    <div class="make-checkout">
                        <div class="actions cl">
                            <div class="checkout-operate f-r">
                                <div class="checkout-due-total f-l">
                                    <span>应付总额（
                                        <span>含运费</span>
                                        ）:
                                    </span>
                                    <span class="controla">
                                        <strong class="p-nbe"><span> 31.00</span></strong>
                                        <strong>元</strong>
                                    </span>
                                </div>
                                <div class="make-order f-r">提交订单</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- heade 头部 模板 -->
    <script  src="../../public/hade/hadeOrder/order.js" defer></script>
    <!-- heade 头部 模板 -->
    <script  src="../../public/hade/hadeOrder/order.js" defer></script>
    <!-- jquery 插件 -->
    <script  src="../../assets/js/jquery.js"></script>
    <!-- cookie 插件 -->
    <script src="../../assets/js/cookie.js"></script>

    <!-- 自定义 js -->
    <script src="./goodsOrder.js" defer></script>
</body>
</html>