<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>首页</title>
    <!-- 公共样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/base.css">
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/reset.css">
    <!-- H-ui 插件 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.css">
    <!-- 外链 css -->
    <link rel="stylesheet" href="./home.css">
    <!-- 公共头部 -->
    <script src="../../public/hade/hade.js"></script>
</head>
<body>
    <!-- 导航菜单 -->
    <div id="home">
        <!-- 3级导航开始 -->
        <div class="rw-lst-header-nav container as">
            <div class="rw-lst-header-nav-header t-c-f relative">
                <span class="rw-lst-header-nav-header-text">零售进货</span>
                <!-- 1级菜单 -->
                <div class="rw-lst-header-nav-fixed-header absolute">
                    <ul class="rw-lst-header-nav-first relative">
                    </ul>
                </div>
            </div>
        </div>
        <!-- 轮播图 -->
        <div id="slider-3">
            <div class="slider">
                <div class="bd">
                    <ul>
                        <li><a href="../Category/Category.html?id=52" target="_blank"><img src="../../assets/image/bjimg/2.jpg" ></a></li>
                        <li><a href="../Category/Category.html?id=55" target="_blank"><img src="../../assets/image/bjimg/3.jpg" ></a></li>
                        <li><a href="../Category/Category.html?id=54" target="_blank"><img src="../../assets/image/bjimg/4.jpg" ></a></li>
                        <li><a href="../Category/Category.html?id=60" target="_blank"><img src="../../assets/image/bjimg/2.jpg" ></a></li>
                    </ul>
                </div>
                <ol class="hd cl dots">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                </ol>
            </div>
        </div>	
        <!-- 样式 -->
        <!-- <div class="slide-item container">
            <img src="../../assets/image/img/ri.jpg" alt="">
        </div> -->
        <div class="heading-block container t-c-f">
            <h2 class="dis-inBlock">奶粉专区</h2>
            <span class="sub-tit">热卖排行 全球发货</span>
        </div>
        <!-- 商品列表 -->
        <div class="topics-box container">
            <div class="product-box">
                <ul class="product-list product-list-a cl">
                    <!-- 商品信息 -->
                    <li class="f-l">
                        <div class="content-outer relative">
                            <a class="content-inner absolute">
                                <div class="img-box relative t-c-f">
                                    <a href="">
                                        <!-- <img src="../../assets/image/img/5.jpg" alt=""> -->
                                        <div class="store-num fz12 t-c-f absolute">仅剩8件</div>
                                    </a>
                                </div>
                                <div class="txt-box fz12">
                                    <div class="price-xj">
                                        <span>￥</span>
                                        <i>79.00</i>
                                    </div>
                                    <div class="unit-price">单件￥39.50</div>
                                    <span>123</span>
                                </div>
                                <div class="tit-box">
                                    <a href="">【2件包邮价】Kobayashi 小林制药 下水道口毛发收集贴 16枚/盒*2盒 不怕脏手即时抛弃</a>
                                </div>
                                <div class="tag-box">
                                    <span class="not-self">非自营</span>
                                    <span class="tax_allowance">税费补贴</span>
                                    <span class="shipping">包邮</span>
                                </div>
                                <a href="" class="popup_buy_view t-c-f">立即选购</a>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="heading-block container t-c-f">
            <h2 class="dis-inBlock">安全座椅</h2>
            <span class="sub-tit">热卖排行 全球发货</span>
        </div>

        <!-- 商品列表 -->
        <div class="topics-box-b container">
            <div class="product-box">
                <ul class="product-list product-list-b cl">
                    <!-- 商品信息 -->
                    <li class="f-l">
                        <div class="content-outer relative">
                            <a class="content-inner absolute">
                                <div class="img-box relative t-c-f">
                                    <a href="">
                                        <div class="store-num fz12 t-c-f absolute">仅剩8件</div>
                                    </a>
                                </div>
                                <div class="txt-box fz12">
                                    <div class="price-xj">
                                        <span>￥</span>
                                        <i>79.00</i>
                                    </div>
                                    <div class="unit-price">单件￥39.50</div>
                                    <span>123</span>
                                </div>
                                <div class="tit-box">
                                    <a href="">【2件包邮价】Kobayashi 小林制药 下水道口毛发收集贴 16枚/盒*2盒 不怕脏手即时抛弃</a>
                                </div>
                                <div class="tag-box">
                                    <span class="not-self">非自营</span>
                                    <span class="tax_allowance">税费补贴</span>
                                    <span class="shipping">包邮</span>
                                </div>
                                <a href="" class="popup_buy_view t-c-f">立即选购</a>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 公共底部 -->
    <script src="../../public/footer/footer.js"></script>
</body>

<!-- ajax 插件 -->
<script src="../../assets/js/ajax.js"></script>
<!-- 轮播插件 -->
<script src="../../assets/js/jquery.SuperSlide.min.js"></script>
<!-- 外链js -->
<script src="./home.js"></script>
</html>
