/* 三级导航开始 */
#Category .rw-lst-header-nav {
    border-bottom: 1px solid #DCDEE3;
    height: 40px;
}
#Category .rw-lst-header-nav-header {
    width: 240px;
    height: 40px;
    background: red;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
}
#Category .rw-lst-header-nav-header-text {
    font-size: 18px;
    line-height: 40px;
    color: #fff;
}
#Category .rw-lst-header-nav-fixed-header {
    height: 409px;
    width: 240px;
    background: red;
    margin-top: 1px;
    z-index: 999;
    display: none;
}
#Category .rw-lst-header-nav-first {
    padding: 5px 0px 5px 10px;
}
#Category .first-item {
    width: 210px;
    height: 40px;
    padding-left: 20px;
    line-height: 40px;
    color: #fff;
}
#Category .first-item:hover {
    border-radius: 20px 0px 0px 20px;
    background-color: #F54300;
    cursor: pointer;
}
#Category .rw-lst-header-nav-second {
    width: 430px;
    height: 410px;
    left: 240px;
    background: #fff;
    top: 0;
    display: none;
}
#Category .second-category-item {
    width: 205px;
    height: 43px;
    border-bottom: 1px dashed #EBEBEB;
    margin-left: 5px;
}
/* 导航结束 */

/* 商品分类页 */
.o-rwd-main-content {
    margin: 12px 0;
}
.o-layout-main-p-main {
    margin-top: 32px !important;
    margin-bottom: 20px !important;
}
.next-icon-xs {
    margin: 0 8px;
    color: #A0A2AD;
    font-size: 16px;
    vertical-align: middle;
}
.p-bread-number span {
    color: #F54300;
}
.p-bread {
    font-size: 12px;
    line-height: 16px;
    margin-right: 12px;
}
/* 筛选开始 */
.p-sn {
    border: 1px solid #DCDEE3;
    border-bottom: none;
}
.p-head {
    width: 88px;
    height: 36px;
    line-height: 36px;
}
.p-head span {
    margin-left: 5px;
}
.p-body {
    width: 910px;
}
.p-foter {
    width: 170px;
    background: #fff;
    height: 36px;
    margin-left: 30px;
}
.p-item {
    padding: 10px;
    width: 128px;
    height: 16px;
}
.p-next-checkbox input{
    width: 16px;
    height: 16px;
    margin-top: 0px;
}
.p-next-btn {
    width: 60px;
    height: 20px;
    margin-top: 8px;
    margin-left: 10px;
    border-radius: 0;
    padding: 0 4px;
    border-style: solid;
    background: #fff;
    border-width: 1px;
    border-color: #DF2211;
    color: #DF2211;
}
.items-inner {
    border: none;
}
.p-sn-container {
    border-bottom: 1px solid #DCDEE3;
}
.p-condition {
    margin: 12px 0;
    background: #F2F3F7;
    border: 1px solid #DCDEE3;
}
.p-condition-group {
    width: 114px;
    height: 40px;
    background: red;
}
.p-condition-group .next-btn-medium {
    width: 57px;
    height: 40px;
    border: none;
}
.next-btn-primary {
    background-color: #DF2211;
    border-left: 1px solid #DCDEE3 !important;
    border-right: 1px solid #DCDEE3 !important;
}
.next-btn-primary a {
    color: #fff;
}
.next-btn-secondary {
    background:#F2F3F7;
    border-left: 1px solid #DCDEE3 !important;
    border-right: 1px solid #DCDEE3 !important;
}


/* 没有东西 */
.c-offerlist {
    margin-left: -20px;
    min-height: 580px;
}
.tuwu {
    margin-left: 460px;
}
.shang {
    font-size: 50px;
    color: #999;
    height: 200px;
    margin-top: 50px;
}




.c-offerlist-wrap {
    width: 280px;
    border: 1px solid #E6E7EB;
    margin-left: 20px;
    margin-top: 10px;
}
.c-offerlist-wrap:hover {
    border: 1px solid red;
}
.o-image-thumb-container{
    width: 280px;
    height: 272px;
    transition: all .5s ease 0s;
    overflow: hidden;
}
.o-image-thumb-container img {
    width: 100%;
    height: 100%;
    transition: all .5s ease 0s;
}
.o-image-thumb-container img:hover {
    transform:scale(1.05,1.05)
}
.c-offer-info-box {
    padding: 8px;
    width: 259px;
    height: 135px;
}
.c-offer-price-con {
    font-size: 14px;
    height: 38px;
    line-height: 38px;
}
.c-offer-price{
    font-size: 16px;
    color: red;
}
.c-offer-prop-b {
    height: 40px;
    line-height: 40px;
}
.spec-wrap {
    margin-top: 15px;
}
.c-offer-img-mask-bg {
    width: 100%;
    height: 23px;
    line-height: 23px;
    top: 280px;
    color: #fff;
    background: rgba(96, 96, 96,0);
    -webkit-transition: all 0.5s;
}
.c-offerlist-wrap:hover .c-offer-img-mask-bg {
    background: rgba(96, 96, 96,0.9);
    -webkit-transition: all 0.5s;
    top: 260px;
}

/* 分页 */
#kkpager{
	clear:both;
	color:#999;
	padding:5px 0px 5px 0px;
	font-size:13px;
}
#kkpager a{
	float: left;
	border: 1px solid #ccc;
	display: inline;
	padding: 3px 10px 3px 10px;
	margin-right: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
	background: #fff;
	text-decoration:none;
	color:#999;
}




#kkpager span.disabled{
	float: left;
	display: inline;
	padding: 3px 10px 3px 10px;
	margin-right: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border:1px solid #DFDFDF;
	background-color:#FFF;
	color:#DFDFDF;
}
#kkpager span.curr{
	float: left;
	border: 1px solid #FF6600;
	display: inline;
	padding: 3px 10px 3px 10px;
	margin-right: 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #FFEEE5;
	color: #FF6600;
}
#kkpager a:hover{
	border:1px solid #FF6600; 
	background-color:#FF6600; 
	color:#fff;
}
#kkpager span.normalsize{
}
#kkpager_gopage_wrap{
	position:relative;
	left:0px;
	top:0px;
}
#kkpager_btn_go {
	width:44px;
	height:20px;
	border:0px;
	overflow:hidden;
	line-height:140%;
	padding:0px;
	margin:0px;
	text-align:center;
	cursor:pointer;
	background-color:#FF6600;
	color:#FFF;
	position:absolute;
	top:1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	display:none;
}
#kkpager_btn_go_input{
	width:36px;
	height:18px;
	color:#999;
	text-align:center;
	margin-left:8px;
	margin-right:8px;
	border:1px solid #DFDFDF;
	position:relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	left:0px;
	top:0px;
	outline:none;
}

#kkpager_btn_go_input.focus{
	border-color:#FF6600;
}

#kkpager .pageBtnWrap{
	float:left;
}
#kkpager .infoTextAndGoPageBtnWrap{
	float:right;
}
#kkpager .spanDot{
	float:left;
	margin-right:5px;
}

#kkpager .currPageNum{
	color:#FD7F4D;
}

#kkpager .infoTextAndGoPageBtnWrap{
	padding-top:5px;
}

.cha {
    font-size: 20px;
    color: #ccc6c6;
    font-weight: 550;
    padding: 5px 15px;
}