<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品分类页</title>
    <!-- 公共样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/base.css">
    <!-- 初始化样式 -->
    <link rel="stylesheet" href="../../assets/css/Custom/reset.css">
    <!-- H-ui 插件 -->
    <link rel="stylesheet" href="../../assets/css/library/H-ui.css">
    <!-- font-al 字体图标库 -->
    <link rel="stylesheet" href="../../assets/font/font-al.css">
    <!-- 外链 css -->
    <link rel="stylesheet" href="./Category.css">
    <!-- 外链头部 -->
    <script src="../../public/hade/hade.js"></script>
</head>

<body>
    <div id="Category">
        <!-- 3级导航开始 -->
        <div class="rw-lst-header-nav">
            <div class="container">
                <div class="rw-lst-header-nav-header t-c-f relative">
                    <span class="rw-lst-header-nav-header-text">零售进货</span>
                    <!-- 1级菜单 -->
                    <div class="rw-lst-header-nav-fixed-header absolute">
                        <ul class="rw-lst-header-nav-first relative">
                            <li class="first-item">
                                <span class="f14">运动鞋</span>
                                <!-- 二级菜单 -->
                                <div class="absolute rw-lst-header-nav-second">
                                    <ul class="cl">
                                        <li class="f-l second-category-item c6">
                                            <a href="">你好</a>
                                        </li>
                                        <li class="f-l second-category-item c6">
                                            <a href="">你好</a>
                                        </li>
                                        <li class="f-l second-category-item c6">
                                            <a href="">你好</a>
                                        </li>
                                        <li class="f-l second-category-item c6">
                                            <a href="">你好</a>
                                        </li>
                                        <li class="f-l second-category-item c6">
                                            <a href="">你好</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 商品分类页开始 -->
        <div class="o-layout-main-p-main container"> 
            <!-- 正在搜索 -->
            <div class="o-rwd-main-content">
                <div class="p-bread c6 fz12 dis-inBlock">
                    <div class="p-bread-title">您正在搜:</div>
                </div>
                <div class="next-breadcrumb dis-inBlock">
                    <div class="dis-inBlock">
                        <a href="" class="next-breadcrumb-text c6">休闲食品</a>
                        <i class="next-icon-xs">></i>
                    </div>
                    <div class="dis-inBlock">
                        <a href="" class="next-breadcrumb-text c6">休闲零食</a>
                        <i class="next-icon-xs">></i>
                    </div>
                </div>
                <div class="f-r c6 p-bread-number">
                    共<span>691</span>件相关产品
                </div>
            </div>
            <!-- 筛选开始 -->
            <div class="p-sn">
                <div class="p-sn-container cl">
                    <div class="p-head f-l">
                        <span>品牌 :</span>
                    </div>
                    <div class="p-body f-l cl">
                        <li class="p-item f-l">
                            <a href="" class="p-next-checkbox">
                                <input type="checkbox">
                                <span>今麦郎</span>
                            </a>
                        </li>
                        <li class="p-item f-l">
                            <a href="" class="p-next-checkbox">
                                <input type="checkbox">
                                <span>今麦郎</span>
                            </a>
                        </li>
                        <li class="p-item f-l">
                            <a href="" class="p-next-checkbox">
                                <input type="checkbox">
                                <span>今麦郎</span>
                            </a>
                        </li>
                    </div>
                    <div class="p-foter f-l">
                        <button class="p-next-btn multi-btn">
                            多选
                            <i class="iconfont">&#xe6dd;</i>
                        </button>
                        <button class="p-next-btn expand-btn">
                            更多
                            <i class="iconfont next-icon-last">&#xe6a4;</i>
                        </button>
                    </div>
                </div>
                            <!-- 更多属性 -->
                <div class="items-inner">
                    <div class="p-sn-container cl">
                        <div class="p-head f-l">
                            <span>更多属性 :</span>
                        </div>
                        <div class="p-body f-l cl">
                            <li class="p-item f-l">
                                <a href="" class="p-next-checkbox">
                                    <span>肉干小食</span>
                                </a>
                            </li>
                            <li class="p-item f-l">
                                <a href="" class="p-next-checkbox">
                                    <span>淘品牌</span>
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 综合 / 最新 -->
            <div class="p-condition">
                <div class="p-condition-group cl">
                    <button class="next-btn-medium next-btn-primary f-l">
                        <a href="">综合</a>
                    </button>
                    <button class="next-btn-medium next-btn-secondary f-l">
                        <a href="">最新</a>
                    </button>
                </div>
                <div class="p-condition-checkbox"></div>
                <div class="p-condition-select"></div>
            </div>
            <!-- 商品列表 -->
            <div class="p-main-list container">
                <div class="c-offerlist cl">
                    <!-- 毒 -->
                    <div class="c-offerlist-wrap f-l relative">
                        <a href="" class="o-image-thumb-container dis-inBlock">
                            <img src="../../assets/image/img/1.jpg" alt="">
                        </a>
                        <div class="c-offer-info-box">
                            <div class="c-offer-price-con">
                                <span class="c-offer-price"> ￥ </span>
                                <span class="c-offer-price">199</span>
                                <span class="f12">/袋</span>
                            </div>
                            <p class="c-offer-prop-b dis-inBlock">
                                百草味香卤猪蹄150g卤香味单包
                            </p>
                            <div class="spec-wrap c6">
                                <span>5包起订</span>
                            </div>
                        </div>
                        <div class="c-offer-img-mask-bg absolute t-c-f">库存1962包</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 分页 -->
        <div style="width:800px;margin:0 auto;">
            <div id="kkpager"></div>
        </div>

    </div>
</body>

<!-- jqurey -->
<script src="../../assets/js/jquery.js"></script>
<!-- 分页插件 -->
<script src="../../assets/js/kkpager.min.js"></script>
<!-- ajax 插件 -->
<script src="../../assets/js/ajax.js"></script>
<!-- 外链 js -->
<script src="./Category.js"></script>

</html>